<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<form name="form">
			<div class="form-group" ng-class="form[$ctrl.obj.id].$invalid ? 'has-error' : ''">
				<label for="{{::$ctrl.obj.id}}"><span ng-bind="::$ctrl.obj.label"></span></label>
				<input type="text" class="form-control"
				    	name="{{::$ctrl.obj.id}}"
				    	id="{{::$ctrl.obj.id}}"
				    	ng-model="$ctrl.response"
				    	ng-model-options="{ debounce: 500 }"
				    	ng-change="$ctrl.change()" 
				    	ng-maxlength="::$ctrl.obj.properties['max-chars']" 
				    	placeholder="{{::$ctrl.obj.properties.placeholder}}" />
				<p ng-show="form[$ctrl.obj.id].$invalid" class="text-danger">Max. Number of chars is <span ng-bind="::$ctrl.obj.properties['max-chars']"></span></p>
		  	</div>
	  	</form>
	</div>
</div>
